:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: #333;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

#distance {
  font-size: 2em;
  font-weight: bold;
  color: #87ceeb;
}

button {
  padding: 0.8em 1.5em;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #40ff00;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.status-indicator {
  margin-top: 2rem;
  font-style: italic;
  color: #999;
}
